html { height: 100% }
body { height: 100%;
       margin: 0;
       padding: 0;}
body{
position: relative;
min-width: 600px;
       min-height: 400px;
       background-color: #2262aa;
}
#map_canvas { height: 100%;
z-index: 10;
}
#all {
  display: none;
position: absolute;
z-index: 20;}
#selectFile {
    z-index: 30;
  margin: -200px 0 0 -300px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  background-color: #fff;
}